<% @listings = @response[:listings] %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSq0Qw3aSRAe15spI8_fDzKHtUqyUtYeE&sensor=true"></script>
<link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<div id="search-wrapper" style="min-width: 900px; background-color: white; height: 100%;">
  <div style="height:20px"></div>
  <% if @listings.count >0 %>
    <div id="map-canvas" class="awesome-box" style="margin: 20px auto; width: 750px"></div>
    <div class="awesome-box" style="margin: 0 auto; padding: 10px; width: 830px">
      Results: <%= @listings.count %>
    </div>
  <% end %>
  <div id="results">

    <% if @listings.count >0 %>
      <% @listings.each_with_index do |listing, index| %>
        <div class="search-listing-wrapper" id = "<%= listing.id%>">
          <div class="left">
              <a class="search-listing-image-wrapper" href="<%= listing_path(listing) %>"><img width="116px" height="76px" src='<%= listing.images.last.location %>'></img>
                <div class="map_number"><%= index + 1 %></div>
              </a>
          </div>
          <div class="left">
            <div class="top">
              <a href="<%= user_path(listing.user)%>" style=' background-image: url(<%= listing.user.profile_photo %>);' class="user-icon left">
              </a>
              <div class="top-info left">
                <a href="<%= listing_path(listing) %>" class="title"><%= listing.title %><span class="new_icon"></span></a>
                <span class="address"><%= listing.location.full_street_address %></span>
              </div>
            </div>
            <div class="bottom">

            </div>
          </div>
          <div class="right">
            <div class="price">$<%=listing.price/100.00 %></div>
            <div class="address">Per Month</div>
          </div>
        </div>
        <div class="clearfix"></div>
      <% end %>
    <% else %>
      <div id="zero-results" class="awesome-box">
        <h3>Your search yielded 0 results. Here are some possible reasons why:</h3>
        <ul>
          <li> The <b>address</b> you entered could not be found </i>
          <li> There is <b>no available storage space</b> in your area :(</li>
          <li> Your search criteria was too <b>strict</b>!</li>
         </ul>
        <div id="tip">Tip: Try using no filters at first and add more incrementally</div>
      </div>
    <%end %>
  </div>
</div>

<script type="text/template" id="google-popup-template">
  <a href='/listings/[[=id ]]'>
    <div style='float: left; margin-right: 20px'>
        <img style='display: inline-block; float: left;' src='[[= images[images.length - 1].location ]]' width='100px' height='100px'>
        </img>
    </div>
  </a>
  <div style='float: left; width: 193px;'>
    <a style='color: #1d95cb; text-decoration: none; margin: 0 auto; display: inline;' href='/listings/[[=id ]]'>
      <div style='margin: 0 auto; display: inline;' class='text-one-line'>
        [[= title ]]
      </div>
    </a>
    <div class='google-description' style='white-space: prewrap;'>
    [[= description ]]
    </div>
    <div class="g_popupprice" class='text-one-line'>
      Price: $[[= price ]]
    </div>
  </div>
</script>
<script type="text/javascript">

<% if @listings.count >0 %>
$(document).ready(function(){


  function initialize() {   
    var mapOptions = {
      center: new google.maps.LatLng(<%= @listings.first.location.latitude %>, <%= @listings.first.location.longitude %>),
      zoom: 12,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map-canvas"),
        mapOptions);

    var infowindow = new google.maps.InfoWindow();
    var g_template = _.template($("#google-popup-template").html());
    <% @listings.each_with_index do |listing, index| %>
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(<%= listing.location.latitude%>,<%= listing.location.longitude %>),
        icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=<%= index + 1%>|B9CCEB|000000',
        title:"<%= listing.title %>",
        map: map,
      });

      var content = g_template(<%= listing.to_json.html_safe %>);

      makeInfoWindowEvent(map, infowindow, content, marker, <%= listing.id %>);


        
    <% end %>
  }
  google.maps.event.addDomListener(window, 'load', initialize);

  function makeInfoWindowEvent(map, infowindow, contentString, marker, id) {
    google.maps.event.addListener(marker, 'click', function() {
      infowindow.setContent(contentString);
      infowindow.open(map, marker);
    });

    google.maps.event.addListener(marker, 'mouseover', function() {
      $('#'+id).css('background-color','#f9f9f9')
    });

    google.maps.event.addListener(marker, 'mouseout', function() {
      $('#'+id).css('background-color','#ffffff')
    });
  

  }

  });
<% end %>
$(document).ready(function(){
    $("#find_space").trigger("click").hide();
    $("#location").val('<%= @response[:params][:address] %>');
    <% if @response[:params][:start_date] %>
    $("#checkin").val($.datepicker.formatDate('mm/dd/yy', new Date('<%= @response[:params][:start_date] %>')));
    <% end %>
    <% if @response[:params][:end_date] %>
    $("#checkout").val($.datepicker.formatDate('mm/dd/yy', new Date('<%= @response[:params][:end_date] %>')));
    <% end %>
    $("#miles").val('<%= @response[:params][:radius] %>');
    $("#close_search").hide();
 });
</script>

