<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSq0Qw3aSRAe15spI8_fDzKHtUqyUtYeE&sensor=true"></script>
<link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<div id="search-wrapper" style="min-width: 900px; background-color: white; height: 100%;">
  <div style="height:20px"></div>
  <div id="map-canvas" class="awesome-box"></div>
  <div class="awesome-box" style="margin: 20px 30px 0px 30px; padding: 10px">
    Results: <%= @listings.count %>
  </div>
  <div id="results">
    <% @listings.each do |listing| %>
      <div class="search-listing-wrapper" id = "<%= listing.id%>">
        <div class="left">
          <a class="search-listing-image-wrapper">
            <a href="<%= listing_path(listing) %>"><img width="116px" height="76px" src='<%= listing.images.first.location %>'></img>
            </a>
          </a>
        </div>
        <div class="left">
          <div class="top">
            <a href="<%=user_path(listing.user) %>"><img class="user-icon left" src='<%= listing.user.profile_photo %>' width="50px" height="50px">
            </img>
            </a>
            <div class="top-info left">
              <a href="<%= listing_path(listing) %>" class="title"><%= listing.title %></a>
              <span class="address"><%= listing.location.full_street_address %></span>
            </div>
          </div>
          <div class="bottom">

          </div>
        </div>
        <div class="right">
        </div>
      </div>
      <div class="clearfix"></div>
    <% end %>
  </div>
</div>

<script type="text/javascript">

$(document).ready(function(){


  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(<%= @listings.first.location.latitude %>, <%= @listings.first.location.longitude %>),
      zoom: 11,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map-canvas"),
        mapOptions);

    var infowindow = new google.maps.InfoWindow();
    <% @listings.each_with_index do |listing, index| %>
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(<%= listing.location.latitude%>,<%= listing.location.longitude %>),
        icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=<%= index + 1%>|B9CCEB|000000',
        title:"<%= listing.title %>",
        map: map,
      });

      var content = "<a href='<%=listing_path(listing)%>'>Title: <%= listing.title %> </a><br /> Description: <%= listing.description %> <br /> Price: $<%= listing.price %></div>"

      makeInfoWindowEvent(map, infowindow, content, marker, <%= listing.id %>);


        
    <% end %>
  }
  google.maps.event.addDomListener(window, 'load', initialize);

  function makeInfoWindowEvent(map, infowindow, contentString, marker, id) {
    google.maps.event.addListener(marker, 'click', function() {
      infowindow.setContent(contentString);
      infowindow.open(map, marker);
    });

    google.maps.event.addListener(marker, 'mouseover', function() {
      $('#'+id).css('background-color','#f9f9f9')
    });

    google.maps.event.addListener(marker, 'mouseout', function() {
      console.log('da')
      $('#'+id).css('background-color','#ffffff')
    });


  }

  })

</script>
