<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSq0Qw3aSRAe15spI8_fDzKHtUqyUtYeE&sensor=true"></script>
<div id="search-wrapper" style="min-width: 900px;">
<div id="map">
  <div id="map-canvas"/>
</div>

<script type="text/javascript">
  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(<%= @listings.first.location.latitude %>, <%= @listings.first.location.longitude %>),
      zoom: 11,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map-canvas"),
        mapOptions);
    <% @listings.each do |listing| %>
      (new google.maps.Marker({
        position: new google.maps.LatLng(<%= listing.location.latitude%>,<%= listing.location.longitude %>),
        title:'<%= listing.title %>'
      })).setMap(map);
    <% end %>
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
