<div id="room" class="panel-border clearfix">
	<div id="back_to_search_container" class="panel-header-gray cleafix">
	</div>
	<div id="room_snapshot">
		<h1>
			<div class="overflow">
				<%= @listing.title %>
			</div>
		</h1>
		<h4>
			<span id="display_address"><%= @listing.location.full_street_address %></span>
		</h4>
	</div>
	<div id="left_column">
		<div id="main_content" class="space2">
			<div class="middle panel-border clearfix">
				<div class="nav nav-tabs panel-background-gray panel-photos">Photos</div>
				<div class="tab-content panel-padding clearfix">
					<div id="photos" class="main_content tab-pane active">
						<div class="image-placeholder">
							<!--  some image -->
							<div id="galleria_container">
								<% @listing.images.each do |image| %>
									<img src="<%= image.location %>">
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="details" class="space2">
			<div class="middle panel-border clearfix">
			<div class="nav nav-tabs panel-background-gray panel-photos">Description</div>
				<div class="tab-content panel-padding clearfix">
					<div id="description-panel" class="tab-pane active detais_content">
						<div id="description_text">
							<div id="description_text_wrapper" class="trans">
								<%= @listing.description %>
							</div>
						</div>
						<table class="table table-bordered table-striped" id="description_details">
							<tbody>
								<tr>
									<td>Area</td>
									<td class="value"><%= @listing.size %> ft&sup3;</td>
								</tr>
								<tr>
									<td>Price</td>
									<td class="value">$<%= @listing.price/100 %> / month</td>
								</tr>
								<tr>
									<td>Country</td>
									<td class="value"> United States</td>
								</tr>
								<tr>
									<td>State</td>
									<td class="value"><%= @listing.location.state %></td>
								</tr>
								<tr>
									<td>City</td>
									<td class="value"><%= @listing.location.city %></td>
								</tr>
							</tbody>
						</table>
					</div>
			  </div>

		  </div>
	  </div>
	  <div id="reputation"></div>
	</div>
	  <div id="right_column">
		  <div id="book_it_form" class="info">
		  	<div id="book_it" class="panel-border space2">
		  		<div class="panel-header-light">
		  			<div id="pricing" class="book_it_section">
		  				<p>From</p>
		  				<h2 id="price_amount">$<%= @listing.price %><h2>
		  					<span id="per_month">Per Month</span>
		  			</div>
		  		</div>
		  	</div>
		  </div>
	  </div>
  </div>
<script>
	$(document).ready( function(){
		 Galleria.loadTheme('/galleria/themes/miniml/galleria.miniml.min.js');
		 console.log("running");
		 Galleria.run('#galleria_container');
	});
	var sub_wrapper = $("#sub-wrapper");
	$(window).resize(function(){
		var w = $(window).width();
		var newW = Math.max(10,Math.floor((w-850)/2))+ "px";
		sub_wrapper.css("margin-left", newW);
		sub_wrapper.css("margin-top", "20px")
	});
	$(window).trigger("resize");
	$("#pphoto").hover(function(){
		$("#pphoto .image-heading").slideDown(100).fadeIn(100);
	}, function(){
		$("#pphoto .image-heading").slideUp(100).fadeOut(100);
	});
	var overlay = $("#overlay");
	var message_sent = $("#message-sent");
	var message_send = $("#message-send");
	var message_text = $("#message-text");
	$("#message-lister").click(function(){
		message_send.show();
		message_text.show();
		message_sent.hide();
		overlay.show();
	});
	$("#message-close").click(function(){
		overlay.hide();
	});
	$("#message-send").click(function(){
		var msg = message_text.html();
		message_send.hide();
		message_text.hide();
		message_sent.show();
		message_text.html('');
		overlay.delay(500).fadeOut(600);
		$.ajax({
			url: "<%= messages_path %>"+".json",
			type: "POST",
			data: {
				listing_id: <%= @listing.id %>,
				message : {
					content: msg
				}
			}

		})
	});
</script>

<% if @current_user %>
	<script src="https://checkout.stripe.com/v2/checkout.js"></script>
	<script>
	    $('#rent-listing').click(function(){
	      var token = function(res){
	        $.ajax({
				url: "/users/" + "<%= @current_user.id %>" + "/transactions",
				type: "POST",
				dataType: 'json',
				data: {
					listing_id: <%= @listing.id %>,
					transaction: {
						host_id: <%= @listing.user.id %>,
						renter_id: <%= @current_user.id %>,
						stripeToken : res.id,
						start_date: '2013-02-23',	// TODO(marco): change to actual start date
						end_date: '2013-02-27'		// TODO(marco): change to actual end date
					}
				},
				success: function(data){
				console.log(data)
				}
				});
	      };

	      StripeCheckout.open({
	        key:         'pk_test_jfyQ2QqVi1q5Z8IE0kfwvnpv',
	        address:     true,
	        amount:      "<%= @listing.price %>",
	        name:        "<%= @listing.title %>",
	        description: "<%= @listing.description %>",
	        panelLabel:  'Checkout',
	        token:       token
	      });

	      return false;
	    });
	  </script>
<% end %>