<div id="room" class="panel-border clearfix">
	<div id="back_to_search_container" class="panel-header-gray cleafix">
	</div>
	<div id="room_snapshot">
		<h1>
			<div class="overflow">
				<%= @listing.title %>
			</div>
		</h1>
		<h4>
			<span id="display_address"><%= @listing.location.full_street_address %></span>
		</h4>
	</div>
	<div id="left_column">
		<div id="main_content" class="space2">
			<div class="middle panel-border clearfix">
				<div class="nav nav-tabs panel-background-gray panel-photos">Photos</div>
				<div class="tab-content panel-padding clearfix">
					<div id="photos" class="main_content tab-pane active">
						<div class="image-placeholder">
							<!--  some image -->
							<div id="galleria_container" style="display: none;">
								<% @listing.images.each do |image| %>
									<img src="<%= image.location %>">
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="details" class="space2">
			<div class="middle panel-border clearfix">
			<div class="nav nav-tabs panel-background-gray panel-photos">Description</div>
				<div class="tab-content panel-padding clearfix">
					<div id="description-panel" class="tab-pane active detais_content">
						<div id="description_text">
							<div id="description_text_wrapper" class="trans">
								<%= @listing.description %>
							</div>
						</div>
						<table class="table table-bordered table-striped" id="description_details">
							<tbody>
								<tr>
									<td>Area</td>
									<td class="value"><%= @listing.size %> ft&sup3;</td>
								</tr>
								<tr>
									<td>Price</td>
									<td class="value">$<%= @listing.price/100.0 %> / month*</td>
								</tr>
								<tr>
									<td>Country</td>
									<td class="value"> United States</td>
								</tr>
								<tr>
									<td>State</td>
									<td class="value"><%= @listing.location.state %></td>
								</tr>
								<tr>
									<td>City</td>
									<td class="value"><%= @listing.location.city %></td>
								</tr>
							</tbody>
						</table>
					</div>
			  </div>

		  </div>
	  </div>
	  <div id="details" class="space2">
			<div class="middle panel-border clearfix">
				<div class="nav nav-tabs panel-background-gray panel-photos">Write a Review</div>
					<div class="tab-content panel-padding clearfix">
						<textarea id="feedback-text-area" class="edit-input edit-textarea"></textarea>
					</div>
				</div>
			</div>
			<div class="middle panel-border clearfix">
				<div class="nav nav-tabs panel-background-gray panel-photos">Reviews</div>
					<div class="tab-content panel-padding clearfix">
				  	No Reviews to display at this time.
				  </div>
				</div>
			</div>
	  <div id="right_column">
	  	<% if @current_user != @listing.user %>
			  <div id="book_it_form" class="info">
			  	<div id="book_it" class="panel-border space2">
			  		<div class="panel-header-light">
			  			<div id="pricing" class="book_it_section">
			  				<p style="margin: 7px 0px; padding:0;">Monthly Price</p>
			  				<h2 id="price_amount" style="margin: 0; padding: 0">$<%= @listing.price/100.0 %><h2>
			  			</div>
			  			<div class="row-fluid">
			  				<div class="date_section">
			  					<label for="checkin">Check in</label>
			  				</div>
			  				<div class="date_section">
			  					<label for="checkout">Check out</label>
			  				</div>
			  			</div>
			  			<div class="row-fluid">
			  				<div class="date_section">
			  					<input class="checkin ui-datepicker-target" id="checkin-order" name="checkin-order" placeholder="mm/dd/yyyy" type="text">
			  				</div>
			  				<div class="date_section">
			  					<input class="checkout ui-datepicker-target" id="checkout-order" name="checkout-order" placeholder="mm/dd/yyyy" type="text">
			  				</div>
			  			</div>
			  		</div>
				  		<div id="book_it_status" class="panel-padding">
				  			<div id="book_it_enabled" class="clearfix">
				  				<button type="submit" class="btn large green btn-block" id="book_it_button">
					          <span class="book-it">
					            <% if @current_user %>BOOK IT!<% else %>Sign up to book!<% end%>
					          </span>
					        </button>
				  			</div>
				  		</div>
			  	</div>
			  </div>
	  	<% end %>
		  <div id="user2">
			  <div class="middle panel-border panel-padding clearfix">
			  	<div class="profile_pic clearfix">
			  		<div class="matte-media-box">
			  			<a href="<%= user_path(@listing.user)%>">
			  				<img height="225" width="225" src="<%= @listing.user.profile_photo %>">
			  			</a>
			  			<div class="img_inner_shadow"></div>
			  		</div>
			  	</div>
			  	<h2 class="user_name"><a href="<%= user_path(@listing.user) %>"><%= @listing.user.pretty_name %></a></h2>
			  	<% if @current_user && @current_user != @listing.user %>
				  	<div id="contact_wrapper" class="space1">
				  		<button class="btn btn-block large blue" id="user_contact_link">
				        Contact Me
				      </button>
				  	</div>
				  	<% elsif @current_user == @listing.user %>
				  	<div id="contact_wrapper" class="space1">
				  		<a href="<%= edit_listing_path(@listing) %>"><button class="btn btn-block large blue">
				        Edit Listing
				      </button></a>
				  	</div>
				  	<% else %>
				  	<div id="contact_wrapper" class="space1">
				  		<a href="<%= new_user_path(@listing) %>"><button class="btn btn-block large blue">
				        Sign up to message!
				      </button></a>
				  	</div>
			  	<% end %>
			  </div>
			</div>
	  </div>
  </div>
  <div id="overlay">
		<div id="message-container">
			<div id="message-wrapper">
		    <div id="lwlb_contact_message" class="lwlb-screen" style="display: block;">
		      <div class="content-row-wrapper">
		        <div class="content-row">
		          <h2>Send Message to <%= @listing.user.pretty_name%></h2>
		        </div>
		        <div class="content-row">
		          <div class="full-field-block">
		            <span id="message-send" class="suggestion">Tell <%=@listing.user.pretty_name%> what you like about their place, what matters most about your accommodation, or ask them a question.</span>
		            <span id="message-sent" class="suggestion"> Your message has been sent!<br /> </span>
		            <div>
			            <textarea class="focus-on-active edit-input edit-textarea" id="question" name="question"></textarea>
			          </div>
		          </div>
		           <button id="message-close" style="width: 200px" class="btn btn-block">Close</button>
		          <button id="send-message" style="width: 200px" class="btn btn-block green">Send</button>
		        </div>
		      </div>
		    </div>
		  </div>
    </div>
	</div>
<script>
	$(document).ready( function(){
		 Galleria.loadTheme('/galleria/themes/classic/galleria.classic.min.js');
		 $('#galleria_container').show();
		 Galleria.run('#galleria_container');
		var overlay = $("#overlay");
		var message_sent = $("#message-sent");
		var message_send = $("#message-send");
		var message_text = $("#question");
		$("#user_contact_link").click(function(){
			message_send.show();
			message_text.show();
			message_sent.hide();
			overlay.show();
		});
		$("#message-close").click(function(){
			overlay.hide();
		});
		$("#send-message").click(function(){
			var msg = message_text.val();
			message_send.hide();
			message_text.hide();
			message_sent.show();
			message_text.val('');
			overlay.delay(1000).fadeOut(600);
			$.ajax({
				url: "<%= messages_path %>"+".json",
				type: "POST",
				data: {
					listing_id: <%= @listing.id %>,
					message : {
						content: msg
					}
				}

			})
		});
	});
</script>

<% if @current_user %>
	<script src="https://checkout.stripe.com/v2/checkout.js"></script>
	<script>
	    $('#book_it_button').click(function(){
	    	$("#checkin-order").removeClass("error");
	    	$("#checkout-order").removeClass("error");
				function parseDate(str) {
			    var mdy = str.split('/')
			    return new Date(mdy[2], mdy[0]-1, mdy[1]);
				}

				function daydiff(first, second) {
				    return (second-first)/(1000*60*60*24)
				}
	    	var start = $("#checkin-order").val();
	    	var end = $("#checkout-order").val();
				var days = daydiff( parseDate(start), parseDate(end) );

				if( !days || days <= 0 || (new Date()) > (new Date(start))){
					if ( new Date(start) > new Date() || days <= 0){}else{ $("#checkin-order").addClass("error"); }
					if ( new Date(end) >new Date()  || days <= 0) {}else { $("#checkout-order").addClass("error"); }
					console.log("error");
				} else {
		      var token = function(res){
				    $.ajax({
							url: "/users/" + "<%= @current_user.id %>" + "/transactions",
							type: "POST",
							dataType: 'json',
							data: {
								listing_id: <%= @listing.id %>,
								transaction: {
									host_id: <%= @listing.user.id %>,
									renter_id: <%= @current_user.id %>,
									stripeToken : res.id,
									start_date: new Date(start).toString(),
									end_date: new Date(end).toString()
								}
							},
								success: function(data){
								console.log(data)
							}
						});
					};

		      StripeCheckout.open({
		        key:         'pk_test_jfyQ2QqVi1q5Z8IE0kfwvnpv',
		        address:     true,
		        amount:      <%= @listing.price %>*days/30.0,
		        name:        "<%= @listing.title %>",
		        description: "<%= @listing.description %>",
		        panelLabel:  'Checkout',
		        token:       token
		      });
		      return false;
		    }
			});
	  </script>
<% else %>
	<script>
		$('#book_it_button').click(function(){
			window.location = "<%= new_user_path %>";
		});
	</script>
<% end %>