<% user_starred = @current_user.id == conversation.renter_id ? conversation.renter_starred : conversation.host_starred %>
<% user_type_id = @current_user.id == conversation.renter_id ? "renter_id" : "host_id" %>
<div id="<%=conversation.id %>" class="conversation blue" title='<%= user_type_id %>'>
	<div class="profile">
		<a href='<%= user_path(other) %>'><img class="message-photo" src=<%= other.photo %> width="50px" height="50px" style="display: inline"></img></a>
	</div>
	<div class="other">
		<% listing = conversation.listing %>
		<div class="synopsis"><a href=<%= conversation_path(conversation) %>><%= conversation.messages.last.content %></a></div>
		<div class="address"><%= listing.location.street %>, <%= listing.location.city %>, <%= listing.location.state %> <%= listing.location.zip %>
		</div>
	</div>
	<div class="icons">
		<div class="star">
			<% if user_starred %>
				<i id="star-icon" class="icon-star icon-3x"></i>
			<% else %>
				<i id="star-icon" class="icon-star-empty icon-3x"></i>
			<% end %>
		</div>
	</div>
	<div class="subject">Regarding: <%= link_to conversation.listing.title, listing_path(conversation.listing) %>
	</div>
	<div class="clearfix"></div>
</div>