<% other = @conversation.host.id != @current_user.id ? @conversation.host : @conversation.renter %> 
<div id="messages-wrapper" style="width: 800px">
	<div id="conversation-wrapper" style="width: 800px; background-color: #ebebeb; padding: 10px;">
		<% @conversation.messages.each do |message| %>
			<div id="conversation-header" style="text-align: center;">Conversation With <%= link_to other.email, user_path(other) %>
			</div> 
			<div class="message" style="background-color: #D9D9D9; padding: 10px; border-top: 1px solid #404040; border-bottom: 1px solid #404040; font-size: 12px; height: 50px">
				<a href=<%= user_path(message.user) %>><img class="user-photo" src="<%= message.user.photo %>" width="50px" height="50px" style="padding: 0 20px 20px 0; float: left;"></img></a><%= message.user.email %><%= message.content %>asfasgfasdgdfashdrfswhdfhdfsghdsfhxdfhsdfhsdfhdfshsdhfhdhdhfs
			</div>
		<% end %>
	</div>
</div>

<script>
	var sub_wrapper = $("#messages-wrapper");
	$(window).resize(function(){
		console.log("resize");
		var w = $(window).width();
		var newW = Math.floor((w-800)/2);
		sub_wrapper.css("margin-left", newW);
		sub_wrapper.css("margin-top", "20px")
	});
	$(window).trigger("resize");
</script>-