<% other = @conversation.host.id != @current_user.id ? @conversation.host : @conversation.renter %> 
<div id="messages-wrapper" style="width: 800px">
	<div id="conversation-wrapper" style="width: 800px; background-color: #ebebeb; padding: 10px; border-radius: 3px;">
				<div  class="header" id="conversation-header" style="text-align: center;">Conversation With <%= link_to other.pretty_name, user_path(other) %> regarding <%= link_to @conversation.listing.title, 
		listing_path(@conversation.listing_id) %>
			</div> 
		<div id="text-area" contenteditable="true" style="height: 100px; border: 1px solid #000; margin-top: 20px; font-size: 13px; overflow-y: scroll; border-radius: 3px; background-color: #fff;">
		</div>
		<div id="submit" class="abutton" style="text-align: center; margin: 10px 0 10px 0">Submit</div>
		<% @conversation.messages.reverse.each do |message| %>
			<%= render :partial => "message", :locals => {:message => message } %>
		<% end %>
	</div>
</div>

<script>
	var clicks = 0;
	$("#submit").click(function(){
		var content = $("#text-area").html().replace(/<div>/gi,'<br>').replace(/<\/div>/gi,'')
		console.log("clicks"+clicks);
		console.log(content.length);
		console.log(content.length > 3)
		if (content.length >3 && clicks == 0) { 
			clicks +=1;
			$.ajax({
				url : '<%= messages_path%>'+".json",
				type: "POST",
				data: {
					listing_id: '<%= @conversation.listing_id %>',
					message: {
						content: content ,
					},
					renter_id: '<%= other.id %>'
				},
				success: function(){
					console.log("success");
					window.location = window.location.origin + window.location.pathname;
				}
			});
		}
	});
	var get_seconds = function(date_str) {
        var seconds = ((new Date).getTime() - (new Date(date_str)).getTime()) / 1000;
        return seconds;
  }
	var pretty_date = function(date_str) {
	    var seconds = get_seconds(date_str);
	    var token = 'ago';
	    list_choice = 1;
	    if (seconds < 0) {
	        seconds = Math.abs(seconds);
	        token = 'from now';
	        list_choice = 2;
	    }
	    var i = 0,
	        format;
	    while (format = this.time_formats[i++]){
	        if (seconds < format[0]) {
	            if (typeof format[2] == 'string') { 
	                return format[list_choice];
	            } else { 
	                if (format[1] == 'just now'){
	                    return Math.floor(seconds / format[2]) + ' seconds '+ ' ' + token;
	                }
	                return Math.floor(seconds / format[2]) + ' ' + format[1] + ' ' + token;
	            }
	        }
	    }
			return date_str;
	}
	time_formats = [
	    [60, 'just now', 1], // 60 
	    [120, '1 minute ago', '1 minute from now'], // 60*2
	    [3600, 'minutes', 60], // 60*60, 60
	    [7200, '1 hour ago', '1 hour from now'], // 60*60*2 
	    [86400, 'hours', 3600], // 60*60*24, 60*60 
	    [172800, 'yesterday', 'tomorrow'], // 60*60*24*2 
	    [604800, 'days', 86400], // 60*60*24*7, 60*60*24 
	    [1209600, 'last week', 'next week'], // 60*60*24*7*4*2 
	    [2419200, 'weeks', 604800], // 60*60*24*7*4, 60*60*24*7 
	    [4838400, 'last month', 'next month'], // 60*60*24*7*4*2 
	    [29030400, 'months', 2419200], // 60*60*24*7*4*12, 60*60*24*7*4 
	    [58060800, 'last year', 'next year'], // 60*60*24*7*4*12*2 
	    [2903040000, 'years', 29030400], // 60*60*24*7*4*12*100, 60*60*24*7*4*12 
	    [5806080000, 'last century', 'next century'], // 60*60*24*7*4*12*100*2 
	    [58060800000, 'centuries', 2903040000] // 60*60*24*7*4*12*100*20, 60*60*24*7*4*12*100
	]
	var sub_wrapper = $("#messages-wrapper");
	$(window).resize(function(){
		console.log("resize");
		var w = $(window).width();
		var newW = Math.max(10,Math.floor((w-800)/2))+ "px";
		sub_wrapper.css("margin-left", newW);
		sub_wrapper.css("margin-top", "20px")
	});
	$(window).trigger("resize");
	$(".date").each(function(){
		$(this).html(pretty_date($(this).html()));
	});
</script>