<% profile_photo_id = @current_user.images.last ? @current_user.images.last.id : "none" %>

<div id="edit-profile-sub-wrapper">
	<img class="pphoto" src="<%=  @current_user.profile_photo %>" id="<%= profile_photo_id  %>" ></img>
	<span id="overlay-stuff">
		<div id="pphoto-overlay"></div>
	    <div id="pphoto-break"></div>
		<div id="pphoto-overlay-text"> Change Profile Photo</div>
	</span>
	<div class="clearfix"></div>
	<div id="form">
		<%= render 'form', :signup => false %>
	</div>
</div>

<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
<script type="text/javascript">	
	var photo = $(".pphoto");
	filepicker.setKey("ANiojec3SRKijkj9dvLmGz");
	$("#overlay-stuff").click(function(){
		filepicker.pickAndStore({
		    	mimetype:"image/*",
		    	'multiple': false,
		    	services:['COMPUTER', 'FACEBOOK', 'GMAIL'],
		    },
		    {
		    	location:"S3",
		  	}, 
		    function(fpfiles){
		    	_.each(fpfiles, function(file){
		    		if (photo[0].id != "none"){
		    			removePhoto(photo[0].id);
		    		}   
		    		uploadPhoto(file.url);
		    		photo[0].src = file.url;
		    	});
			});
	});
	$(".pphoto, #overlay-stuff ").mouseenter(function(){
		$("#overlay-stuff").show();
	}).mouseleave(function(){
		$("#overlay-stuff").hide();
	});

	var uploadPhoto = function(url){
		$.ajax({
			type: "POST",
			url: "/users/"+<%= @current_user.id %>+"/images.json",
			data: {
				image : {
					location: url,
				},
			},
		});
	};

	var removePhoto = function(id){
		$.ajax({
			url: "/users/"+<%= @current_user.id %>+"/images/"+id,
			type: "DELETE",
		});
	}
</script>

