<% profile_photo_id = @current_user.images.last ? @current_user.images.last.id : "none" %>

<div id="edit-profile-sub-wrapper">
	<div class="box-2">
		<div class="full-heading">
	      Edit profile
	    </div>
	    <%= form_for(@current_user) do |f| %>
	    <div style="padding: 20px;">
	    	<div id="edit-profile-photo">
		    	<div id="<%= @current_user.images.last ? @current_user.images.last.id : 'none' %>" style="margin: 0 auto; display: inline-block; float: left; background-image: url(<%=  @current_user.profile_photo %>); background-size: 200px 200px; width: 200px; height: 200px;">
		    		<div class="no-opacity listing-icon-overlay">
		    			<div class="profile-icon-changetext">
		    			Change Profile Picture
			    		</div>
			    	</div>
		    	</div>
				<div class="edit-profile-about">
					<%= f.label :about, :class=>"textfield-label text-left	" %><br />
				    <%= f.text_area :about, :class=>"edit-input edit-textarea" %>
				</div>
			</div>
		</div>
		
		<div class="clearfix"></div>
		<div style="padding: 20px;">
			<div>
			    <%= f.label :first_name, :class=>"textfield-label" %>
			    <%= f.text_field :first_name, :class=>"edit-input edit-textfield" %>
			</div>
			<div>
			    <%= f.label :last_name, :class=>"textfield-label" %>
			    <%= f.text_field :last_name, :class=>"edit-input edit-textfield" %>
			</div>
		</div>
		<%= f.submit "Update Profile", :class=>"btn", :style=>"margin: 20px 270px; padding: 10px; height: 30px" %>
		<% end %>
	</div>
</div>

<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
<script type="text/javascript">	
	var photo = $("#edit-profile-photo").children();
	filepicker.setKey("ANiojec3SRKijkj9dvLmGz");
	$("#edit-profile-photo").click(function(){
		filepicker.pickAndStore({
		    	mimetype:"image/*",
		    	'multiple': false,
		    	services:['COMPUTER', 'FACEBOOK', 'GMAIL'],
		    },
		    {
		    	location:"S3",
		  	}, 
		    function(fpfiles){
		    	_.each(fpfiles, function(file){
		    		if (photo[0].id != "none"){
		    			removePhoto(photo[0].id);
		    		}   
		    		uploadPhoto(file.url);
		    		photo.first().css('background-image',"url("+file.url+")");
		    	});
			});
	});
	var uploadPhoto = function(url){
		$.ajax({
			type: "POST",
			url: "/users/"+<%= @current_user.id %>+"/images.json",
			data: {
				image : {
					location: url,
				},
			},
		});
	};
	var removePhoto = function(id){
		$.ajax({
			url: "/users/"+<%= @current_user.id %>+"/images/"+id,
			type: "DELETE",
		});
	}
</script>

