<div id="profile-page-container" style="margin: 20px 5% 0 5%; min-width: 870px;">
	<div id="sub-wrapper" style="margin: auto auto">
		<div id="top-left" style="float: left; width: 200px; ">
			<img class="pphoto" src='<%= @user.profile_photo %>' />
			<% if @current_user && @user.id == @current_user.id %>
				<span id="overlay-stuff">
					<div id="pphoto-overlay-ppage"></div>
				    <div id="pphoto-break"></div>
					<div id="pphoto-overlay-text"> Change Profile Photo</div>
				</span>
				<div class="clearfix"></div>
			<% end %>
		</div>

		<div id="about-wrapper" class="profile-section-wrapper">
			<div class="header">About <%= @user.pretty_name %></div>
			<div class="profile-section-content"><%= @user.about.nil? ? "This user has not written an about me section :(" : @user.about %></div>
		</div>
		<div class="clearfix"></div>


		<div id="profile-stats-container" style="width: 820px; font-size: 14px;">

			<div id="renter-stats" class="profile-section-wrapper" style="height: 200px;float: left; display: inline; margin: 20px 0 0 0px; width: 400px; ">
				<div class="header">Renter Stats</div>
				<div class="profile-section-content">
					<ul id="renter-stats-list">
						<li>Rented: 0</li>
						<li>Late Pick-Ups: 0</li>
						<li>Overall Rating: 0/5</li>
						<li>Timeliness Rating: 0/5</li>
						<li>Responsiveness Rating: 0/5</li>
						<li>Quality Rating: 0/5</li>
					</ul>
				</div>
			</div>

			<div id="host-stats" class="profile-section-wrapper" style="height: 200px; margin: 20px 0 0 20px; float: left; display: inline; width: 400px;">
				<div class="header">Host Stats</div>
				<div class="profile-section-content">
					<ul id="host-stats-list">
						<li>Hosted: 0</li>
						<li>Late Returns: 0</li>
						<li>Overall Rating: 0/5</li>
						<li>Timeliness Rating: 0/5</li>
						<li>Responsiveness Rating: 0/5</li>
						<li>Quality Rating: 0/5</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="clearfix"></div>

		<div class="profile-section-wrapper" id="listings-wrapper" class="grey" >
			<div class="header">Listings</div>

			<div id="profile-listings" style="width: <%= 220*@user.listings.count %>px;">

				<% @user.listings.each do |listing| %>
					<%= render :partial => 'shared/listing_icon', :locals => { :listing => listing } %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>

<script>
	var sub_wrapper = $("#sub-wrapper");
	$(window).resize(function(){
		console.log("resize");
		var w = $(window).width();
		var newW = Math.max(10,Math.floor((w-920)/2))+ "px";
		sub_wrapper.css("margin-left", newW);
		sub_wrapper.css("margin-top", "20px")
	});
	$(window).trigger("resize");
</script>

<% if @current_user && @user.id == @current_user.id %>
	<script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
	<script type="text/javascript">	
		var photo = $(".pphoto");
		filepicker.setKey("ANiojec3SRKijkj9dvLmGz");
		$("#overlay-stuff").click(function(){
			filepicker.pickAndStore({
			    	mimetype:"image/*",
			    	'multiple': false,
			    	services:['COMPUTER', 'FACEBOOK', 'GMAIL'],
			    },
			    {
			    	location:"S3",
			  	}, 
			    function(fpfiles){
			    	_.each(fpfiles, function(file){
			    		if (photo[0].id != "none"){
			    			removePhoto(photo[0].id);
			    		}   
			    		uploadPhoto(file.url);
			    		photo[0].src = file.url;
			    	});
				});
		});
		$(".pphoto, #overlay-stuff ").mouseenter(function(){
			$("#overlay-stuff").show();
		}).mouseleave(function(){
			$("#overlay-stuff").hide();
		});

		var uploadPhoto = function(url){
			$.ajax({
				type: "POST",
				url: "/users/"+<%= @current_user.id %>+"/images.json",
				data: {
					image : {
						location: url,
					},
				},
			});
		};

		var removePhoto = function(id){
			$.ajax({
				url: "/users/"+<%= @current_user.id %>+"/images/"+id,
				type: "DELETE",
			});
		}
	</script>
<% end %>
