

<div style="margin: 30px auto; width: 800px">
  <div class="middle panel-border" style=" width: 800px;">
    <div class="nav nav-tabs panel-background-gray panel-photos"><h3>Pending Host Transactions</h3></div>
    <% @transactions[:pending_host_transactions].each do |transaction| %>
        <%= transaction.id %>
        <%= transaction.price %>
        <div id="approve-<%= transaction.id %>" class="transaction-approve abutton" style="display: inline;">Approve</div>
         <div id="decline-<%= transaction.id %>" class="transaction-approve abutton" style="display: inline;">Decline</div>
    <% end %>
  </div>



  <div class="middle panel-border" style="width: 800px;">
    <div class="nav nav-tabs panel-background-gray panel-photos"><h3>Pending Renter Transactions</h3></div>
    <% @transactions[:pending_renter_transactions].each do |transaction| %>
        <%= transaction.id %>
        <%= transaction.price %>
    <% end %>
  </div>

  <div class="clearfix"></div>



<div class="middle panel-border" style="width: 800px;">
    <div class="nav nav-tabs panel-background-gray panel-photos"><h3>Past Host Transactions</h3></div>

  <% @transactions[:past_host_transactions].each do |transaction| %>
      <%= transaction.id %>
      <%= transaction.price %>
  <% end %>
</div>



<div class="middle panel-border" style="width: 800px;">
    <div class="nav nav-tabs panel-background-gray panel-photos" style="padding: 5px"><h3>Past Renter Transactions</h3></div>
  <% @transactions[:past_renter_transactions].each do |transaction| %>
    <div class="transaction-box">
      <div class="left">
        <div class="top">
          <a href="<%= user_path(listing.user)%>" style=' background-image: url(<%= listing.user.profile_photo %>);' class="user-icon left">
          </a>
          <div class="top-info left">
            <a href="<%= listing_path(listing) %>" class="title"><%= listing.title %><span class="new_icon"></span></a>
            <span class="address"><%= listing.location.full_street_address %></span>
          </div>
        </div>
      </div>
      <div class="left">
      </div>
      <div class="right">
      </div>
    </div>
  <% end %>
 </div>
</div>
<script>
  $(document).ready(function(){
      $('.transaction-approve').click(function(){
          var accepted = false
          if ($(this).attr('id').indexOf('approve') != -1){
              accepted = true
          }
          $.ajax({
              url: "/users/" + "<%= @current_user.id %>" + "/transactions/" + $(this).attr('id').replace("approve-","").replace("decline-",""),
              type: "PUT",
              dataType: 'json',
              data: {
                  host_accepted: accepted
              },
              success: function(data){
                  console.log(data)
              }
          });
      });

  });
</script>
