<!DOCTYPE html>
<html style="width:100%">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Storable</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
  <![endif]-->
</head>
<body>
  <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->
  <div style="position: fixed; width: 100%; margin-top: -130px">
    <div id="top-wrapper">
      <div id="nav" class="grey" >
        <span id="logo"></span>
        <a id="find_space" href="#search">Find Space</a>
        <a id="list_space" class="hidden" href="#list">List Space</a>
        <!-- <div style="margin: 0 auto; display: inline; width: 50%" id="message"></div> -->
        <span id="auth" style="float: right; margin-right: 10px ">
            <span style="display:none;" id="login_form">
                <%= form_tag sessions_path do %>  
                    <%= text_field_tag :email, params[:email], :placeholder => "Email" %> 
                    <%= password_field_tag :password, params[:password], :placeholder => "Password" %>
                    <a class="loginbtn" href="#">Log In</a>
                <% end %>  
            </span>
            <span style="display:none;" id="signup_form">
              <%= form_for newUser do |f| %>
                  <%= f.text_field :email, :placeholder => "Email" %>
                  <%= f.password_field :password, :placeholder => "Password" %>
                  <%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %>
                  <a class="signupbtn" href="#">Sign Up</a>
              <% end %>  
            </span>
            <a id="login1" class="login" href="#login">Login</a>
             OR
            <a id="signup1" class="signup" href="#signup">Signup</a>
            <a id="signup2" class="signup hide" href="#signup">Signup</a>
            <a id="logout" class="logout-btn hide" href="#logout">Logout</a>
            <a id="login2" class="login hide" href="#login">Login</a>
        </span>
        <span id="user" style="float: right;">

        </span>
      </div>

      <div class="search-area hidden" style="margin: 2px auto 10px auto; display: table;">
          <div id="search-bar">
            <form action="/search" id="search_form">
                <div class="input-wrapper .inline" style="display: inline-block; margin-right: 14px">
                    <input type="text" class="location" autocomplete="off" id="location" name="location" placeholder="Where do you need storage?">
                </div>
                <div id="checkinWrapper" class="input-wrapper .inline" style="display: inline-block;">
                  <input type="text" id="checkin" class="checkin search-option ui-datepicker-target" name="checkin" placeholder="Check in">
                  <span class="search-area-icon"></span>
                </div>
                <div id="checkoutWrapper" class="input-wrapper .inline" style="display: inline-block;" >
                  <input type="text" id="checkout" class="checkout search-option ui-datepicker-target" name="checkout" placeholder="Check out">
                  <span class="search-area-icon search-area-icon-checkout"></span>
                </div>
                <div id="spaceWrapper" class="input-wrapper .inline" style="display: inline-block;">
                    <input type="text" id="space" name="space" placeholder="Storage Space">
                    <span class="search-area-icon search-area-icon-storage-box"></span>
                </div>
                <div class="input-wrapper .inline" style="display:inline-block; margin-top: -10px;">
                  <a href="#close" id="close_search" style="color: #fff; text-decoration: none; font-size: 24px;">X</a>
                </div>
            </form>
        </div>
      </div>
    </div>

  </div>
  <div style="margin-top:130px"></div>
   <section class="hero">
    <div class="hero-text-title">Storable</div>
  </section>

  <%= yield %>

  <script type="text/javascript">
    _.templateSettings = {
        interpolate: /\[\[\=(.+?)\]\]/g,
        evaluate: /\[\[(.+?)\]\]/g
    };

    $(function() {
        <% if @current_user %>
            var user = new App.Models.User({
                id: "<%= @current_user.id %>",
                loggedIn: true,
                email: "<%= @current_user.email %>"
            });
        <% else %>
            var user = new App.Models.User({});
        <% end %>
        App.init(user);
    });
  </script>
  <script src="js/application.js"></script>
  <script src="js/models/user.js"></script>
  <script src="js/views/auth.js"></script>
  <script src="js/views/user-nav.js"></script>
  <script src="js/views/message.js"></script>
</body>
</html>